
       <form  [formGroup]="myform" (ngSubmit)="onSubmit()">
       <div align="center" style="width: 250px">
          <br>
          <table class="style1">
             <tbody>
                <tr>
                   <td align="left">Select a Movie --</td>
                </tr>
                <tr>
                   <td align="left">
                      <select required formControlName="movie" #ddlMovie (change)="fnOnMovieChange(ddlMovie.value)">
                      <option *ngFor="let opt of movieList" value="{{opt.value}}">{{opt.key}}</option>
                      </select>
                   </td>
                </tr>
                <tr>
                   <td align="left">Select a ShowDate --</td>
                </tr>
                <tr>
                   <td align="left">
                      <select required  formControlName="date" #ddlDate (change)="fnOnDateChange(ddlMovie.value,ddlDate.value)">
                      <option *ngFor="let opt of dateList" value="{{opt.value}}">{{opt.key}}</option>
                      </select>
                   </td>
                </tr>
                <tr>
                   <td align="left">Select a ShowTime --</td>
                </tr>
                <tr>
                   <td align="left">
                      <select required formControlName="time" #ddlTime >
                         <option *ngFor="let opt of timeList" value="{{opt.value}}">{{opt.key}}</option>
                      </select>
                   </td>
                </tr>
             </tbody>
          </table>
          <br>
          <div style="float: right">
             <input type="image" src="assets/images/appImages/go.png" id="btnGo" title="GO" alt="" style=" width:40px; height:40px;">
          </div>
       </div>
       </form>

