<div id="wrapper">
    <div id="header">
        <div style="width: 300px; height: 100px; float: left;">
            <a routerLink="/">
                <img src="assets/images/appImages/logo.png" height="100px" width="300px" alt="CinemaOL" id="logo" />
            </a>
        </div>
        <div style="width: 500px; height: 100px; float: right;">
            <div id="LoginRegister" class="menu_" style="height: 50%; display: block;  text-align: right; line-height: 100%;">
                <a [routerLinkActive]="['menu_active']" routerLink="/login">Login</a>
                <a [routerLinkActive]="['menu_active']" routerLink="/register">Register</a>
            </div>
            <div class="menu_" style="height: 50%; display: block; text-align: right; line-height: 100%;">
                <!--<a [routerLinkActive]="['menu_active']" routerLink="/cascade">Cascade Ddl</a>-->
                <a [routerLinkActive]="['menu_active']" routerLink="/contact">ContactUs</a>
                <a [routerLinkActive]="['menu_active']" routerLink="/about">AboutUs</a>
                <a [routerLinkActive]="['menu_active']" routerLink="/movies">Movies</a>
                <a [routerLinkActive]="['menu_active']" routerLink="/home">Home</a>
                <br /> <br />
                <div style="text-align: center;">Your IP is: {{IP}}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <router-outlet></router-outlet>

</div>
<div id="footer">
    <div style="height: 20px;">
        <div style="width: 600px; float: left">
            <ul style="padding: 0px; margin: 0px; list-style-type: none; height: 20px; width: 600px;">
                <li style="float: left;">Designed and Developed by Mata Prasad Chauhan. All Rights Reserved &copy; 2012
                </li>
            </ul>
        </div>
        <div style="width: 100px; height: 20px; float: right;">
            <ul style="padding: 0px; width: 100px; height: 20px; float: right; margin: 0px; list-style-type: none;">
                <li style="float: right; height: 20px; width: 100px; margin: 0px; padding: 0px;">
                    <input type="hidden" value="{{ config | json }}" />
                </li>
            </ul>
        </div>
    </div>
</div>