.style2 {
    width: 100%;
}

.style1 {
    width: 100%;
    border-bottom-color: Black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
}

.style2 {
    width: 180px;
}